{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
    <link href="{% static 'core/css/style.css'%}" rel="stylesheet">
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>SERVIEXPRESS</h1>
    {% if list %}
        <div class="row text-center">
        {% for ve in list %}
            <a style="width: 250px; margin-right: 25px;" href="{% url 'ficha' ve.patente %}">
                <div class="tienda_auto_recuadro">
                    <div class="tienda_auto_recuadro_interior">
                        <img src="/media/{{ ve.imagen }}" class="tienda_auto_imagen" alt="">
                    </div>
                    <div>
                        <br>
                        <br>
                        <br>
                        {{ ve.marca }}
                        <br>
                        {{ ve.modelo }}
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    {% endif %}
    <div class="tienda_link_home">
        <a href="{% url 'home' %}" class="btn btn-info btn-sm">Ir a la página de inicio</a>
    </div>
{% endblock content %}